
@{
    ViewBag.Title = "PhanHoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="contact">
            <h2>Phản hồi</h2>
            <div class="col-md-6 map">
                <h3>Phục vụ khách hàng là niềm hạnh phúc của chúng tôi!</h3>
                <a href="index.html"><img class="img-responsive " src="/Content/images/shop3.jpg" alt=""></a>
                <div class="address">
                    <h4>Địa chỉ</h4>
                    <p> </p>
                    <ul class="social ">
                        <li><span>236, Hoàng Quốc Việt, Từ Liêm, Hà Nội</span></li>
                        <li><span>(+84) 869668106</span></li>
                        <li><a href="mailto:info@example.com">webbangiay@gmail.com</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-md-6 contact-grid">

                <form>
                    <div>
                        <span> Họ tên</span>
                        <input type="text">
                    </div>

                    <div>
                        <span>Email</span>
                        <input type="text">
                    </div>
                    <div>
                        <span>Lời nhắn</span>
                        <textarea> </textarea>
                    </div>

                    <div class="send-in">
                        <input type="submit" value="Gửi">
                    </div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

